{% extends "base.html" %}
{% load i18n %}
{% block content %}
<table class="table">
    <tr>
        <a href="{% url 'song-create' %}" role="button" class="btn btn-primary w-100">{% trans 'Create Song' %}</a>
        <thead class="thead-light">
            <tr>
                <th scope="col">{% trans 'Song Name' %}</th>
            </tr>
        </thead>
        <tbody class="main_body">
            {% for song in songs %}
            <tr>
                <td>{{song.song_title}}
                    <a href="{% url 'song-update' song.id %}" role="button" class="btn btn-primary float-right">{% trans 'Update Song' %}</a>
                    <a href="{% url 'song-delete' song.id %}" role="button" class="btn btn-danger float-right">{% trans 'Delete Song' %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>
    <a href="{% url 'album-list' %}" role="button" class="btn btn-primary">{% trans 'All Albums' %}</a>
    <a href="{% url 'artist-list' %}" role="button" class="btn btn-primary">{% trans 'All Artists' %}</a>

{% endblock %}