{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">{% trans 'Song Details' %} #{{songs.id}}</h5>
    </div>
    <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">{% trans 'Song Name' %}</dt>
      <dd class="col-sm-9">{{ songs.song_title }}</dd>
    </dl>

    </div>
</div>
<a href="{% url 'song-list' %}" role="button" class="btn btn-primary">{% trans 'Go back' %}</a>

{% endblock %}